.mk-card
{
    cursor: pointer;
}

.mk-card:not(:last-child)
{
    margin-bottom: 1rem !important;
}

.mk-list-container
{
    width: 300px;
}

.mk-cursor-pointer
{
    cursor: pointer;
}

.mk-list-content
{
    padding: 0.6rem !important;
    background: #fafafa;
}

.mk-card-content
{
    padding: 1rem !important;
}

.mk-small-tags-container
{
    margin-bottom: 0 !important;
}

.mk-small-tags-container span.tag
{
    height: 8px;
}